body {
    box-sizing: border-box;
}

h1 {
    font-family: 'Libre Caslon Display', serif;
    font-size: 4em;
    padding-top: 0.6em;
    padding-bottom: 0.4em;
}

h2 {
    font-family: 'Libre Caslon Display', serif;  
    font-size: 2em;
    padding-bottom: 1em;
}

li {
    padding-bottom: 1em;
    padding-left: 1em;
}

header {
    width: 72%;
    margin: auto;
    background-color: #13293D;
    color: #E8F1F2;
    text-align: center;
}

.row {
    display: flex;
    width: 72%;
    margin: auto;
    height: 800px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.row h3 {
    padding: 1em 0 1em 0;
    font-size: 1.35em;
}

.row h4 {
    padding: 0 0 1em 0;
}

.row p,
.row li {
    font-size: 0.95em;
    line-height: 1.5em;
}

.left {
    flex: 1;
    background-color: #E8F1F2;
    padding-left: 1em;
    padding-right: 1em;
}

.right {
    flex: 2;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #d9e9f5;
}

.skills {
    display: flex;
    margin-left: 3em;
}

.skills ul {
    margin-right: 1em;
}
.skills li {
    padding-bottom: 0.45em;
}

.techskills {
    margin-right: 1em;
}