body {
    background-color: #ffffff;
    width: 70%;
    margin: auto;
    line-height: 1.25em;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: #2a4f69;
}

a:hover {
    color: #6f7d7d
}

h1, h2, h3, h4 {
    padding: 2px 0;
    margin: 0;
    font-weight: 100;
}

h3 {
    text-align: center;
    background-color: #2a4f69;
    border-radius: 5px;
    color: white;
}

address {
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    background-color: white;
    padding-bottom: 15px;
    margin: 0;
}
main {
    margin: auto;
    background-color: white;
    padding-top: 10px;
}

ul {
    list-style-type: circle;
    margin: 15px 0;
}

li {
    margin: 5px 0;
    list-style-type: dash;
}

#contact {
    margin: 1px 0;
}

.objectives {
}

.skills {
    margin: auto;
}
.techskills,
.softskills {
    width: 45%;
}

.techskills li,
.softskills li {
    text-align: left;
}

.techskills {
    float: left;
}

.softskills {
    float: right;
}

/*** Float clear fix ***/

.skills:after {
    content: "";
    display: table;
    clear: both;
}
